/* Cuidados Gerais */

body {
  background-color: #ffffff;
}

/* Fundo da página */

/* background-image => imagem de fundo.
  background-size, position, repeat e attachment são para
  a imagem ser exibida na tela toda, no centro, sem repetição
  e sem rolar junto com a página */

#fundo {
  /* Dentro de url coloque o caminho para a imagem de fundo, img/<nome-da-imagem> */
  background-image: url(../img/image_background.png);
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Componentes do header */

/* Componentes do header só tem um espaçamento de cima e a animação para ele chegar lá */
/* logo e Cat News são para a div logo e para a figura em si */
/* posição e relacionados, se modifica em #logo, e para tamanho da imagem em #CatNews */

#componentes-do-header {
  margin-top: 0.5%;
  animation: header-aparece 1s;
}

#logo {
  display: inline-block;
  padding-right: 15% !important; 
  padding-left: 5%;
}

#CatNews {
  width: 100%;
  min-width: 100%;
}

/* Texto: Cuidados gerais, prevenções e castração, Curiosidades */

.outras-paginas {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-right: 2.25%;
  display: inline-block;
}

/* Para tirar a cor azul que fica quando a palavra é um link e para definir o tamanho */

.links {
  font-size: 25px;
  color: #000000;
  text-decoration: none;
}

/* Animação de cada texto naquele header */

.texto-header {
  --b: 0.1em;
  --c: #ffffff;

  color: #0000;
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, #000 0) 0%
      calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
      no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear,
    background-size 0.3s calc(0.3s - var(--_s, 0s));
}
.texto-header:hover {
  --_p: 100%;
  --_s: 0.3s;
}

/* Links para redes sociais*/
  /* Deixa cada ícone um do lado do outro */

  .icons {
  display: inline-block;
}

  /* Tamanho, cor e animação dos ícones */

.fa-brands {
  width: 40px;
  font-size: 30px;
  color: #000000;
  transition: 0.2s ease-in-out;
}

.fa-brands:hover {
  width: 35px;
  font-size: 40px;
  color: #ffffff;
  transition: 0.2s ease-in-out;
}

/* Fim do header */

/* Corpo da página*/

#caixa-de-conteúdo {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(234, 234, 234));
  height: 90%;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#Cuidados-Gerais {
  padding: 20px;
  
}

#título-cuidados {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 55px;
  margin-top: 10%;
  margin-left: 5%;
  animation: título-aparece 1s;
}

#texto-cuidados {
  padding: 100px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  animation: texto-aparece 2s;
}

/* Animcações */

@keyframes título-aparece {
  0% {
    margin-left: -20%;
  }


  100% {
    margin-left: 5%;
  }
}

@keyframes texto-aparece {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes header-aparece {
  0% {
    margin-top: -20%;
  }

  100% {
    margin-top: 0.5%;
  }
}

/* Configurações de tamanhos de tela */

@media screen and (min-width: 1600px) {
  #texto-cuidados {
    font-size: 25px;
  }
}