/* Clínicas Veterinárias */

body {
    background-color: #ffffff;
    height: 100%;
    overflow-x: hidden;
}

/* Fundo da página */

#fundo {
    padding-top: 80px;
    background-image: url(../img/veterinario.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    height: 300px;
}

/* Componentes do header */

/* logo e Cat News são para a div logo e para a figura em si */
/* posição e relacionados, se modifica em #logo, e para tamanho da imagem em #CatNews */

#componentes-do-header {
    background-color: white;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: header-aparece 1s;
}

#logo {
    display: inline-block;
    padding-right: 25% !important;
    padding-left: 5%;
}

#CatNews {
    width: 100%;
    min-width: 100%;
}

/* Texto: Cuidados gerais, prevenções e castração, Curiosidades */

.outras-paginas {
    font-family: 'Montserrat';
    font-weight: bold;
    margin-right: 4%;
    display: inline-block;
}

.outras-paginas:hover .texto-header {
    color: #2098D1;
    transition: 0.2s ease-in-out;
}

.texto-header {
    color: #000000;
    transition: 0.2s ease-in-out;
}


/* Para tirar a cor azul que fica quando a palavra é um link e para definir o tamanho */

.links {
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}

.links:hover {
    text-decoration: none;
}

/* Animação de cada texto naquele header */
/* linhazinha para o centro azul */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/* Fim do header */

/* Corpo da página */

#título {
    margin-top: 20rem;
    color: #333;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 40px;
    animation: título-aparece 1s;
}

.clinicas-joao-pessoa {
    display: flex;
    flex-wrap: wrap;
}



.clinicas {
    width: 40%;
    height: 37%;
    border-radius: 20px;
    margin-left: 27.5%;
    background-size: 100%;
    background-position: center;
    padding: 20px;
    transition: 0.2s ease-in-out;
}

.texto-na-imagem {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    opacity: 0%;

    transition: 0.2s ease-in-out;
}

.clinicas:hover {
    opacity: 80%;
    width: 42%;
    height: 39%;
    box-shadow: rgba(0, 0, 0, 0.35) -5px 2px 20px;
    transition: 0.2s ease-in-out;
    
}

.clinicas:hover .texto-na-imagem {
    opacity: 100%;
    transition: 0.2s;
}

.descricao-clinicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.descricao-clinica {
    font-size: 20px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 50px;

}

/* Centro de Vigilância */

#centro-vigilancia {
    background-image: url(../img/centro-vigilancia.jpeg);
    background-repeat: no-repeat;
}
/* Clínica 4 patas */

#clinica-4patas {
    background-image: url(../img/clinica-4-patas.jpg);
    background-repeat: no-repeat;
}

/* Clínica e Farmácia Popular MED VET*/

#clinica-MED-VET {
    background-image: url(../img/clinica-farmacia-MED-VET.jpeg);
    background-repeat: no-repeat;
}

/* Clínica Veterinária PET AMIGO */

#clinica-PET-AMIGO {
    background-image: url(../img/pet-amigo.jpg);
    background-repeat: no-repeat;
}

/* PET SAÚDE Clínica Veterinária e Petshop */

#clinica-PET-SAUDE {
    background-image: url(../img/PET-SAÚDE.JPG);
    background-repeat: no-repeat;
}

/* ASSVET Centro Veterinário e Casa dos Cuidadores */

#ASSVET {
    background-image: url(../img/ASSVET.png);
    background-repeat: no-repeat;
}

/* Clínica Veterinária MAKTUB - CVM */

#MAKTUB {
    background-image: url(../img/maktub.jpeg);
    background-repeat: no-repeat;
}

/* NAV - Núcleo de Atendimento Veterinário */

#NAV {
    background-image: url(../img/NAV.jpg);
    background-repeat: no-repeat;
}

/* VIT VET Clínica Veterinária */

#VIT-VET {
    background-image: url(../img/VIT-VET.jpg);
    background-repeat: no-repeat;
}

/* CMV - Centro Médico Veterinário */

#CMV {
    background-image: url(../img/CMV.png);
    background-repeat: no-repeat;
}

/* Clínica Veterinária BOM PASTOR */

#BOM-PASTOR {
    background-image: url(../img/bom-pastor.png);
    background-repeat: no-repeat;
}

/* adicionar clínica */
 
.adicionar-clinica {
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 40px;
}

.adicionar-clinica-texto p {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.button-adicionar {
    background-color: rgb(232, 56, 56);
    border-radius: 50px 50px 50px 50px;
    margin-right: 40%;
    margin-left: 40%;
    transition: 0.2s ease-in-out;
}

.button-adicionar:hover {
    background-color: rgb(231, 83, 83);
    transition: 0.2s ease-in-out;
}

.link-adicionar,
.link-adicionar:hover {
    text-decoration: none;
}

.link-adicionar p {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
}

/*
@media screen and (min-width: 1400px) {
    .clinicas-joao-pessoa {
        display: flex;
        flex-wrap: wrap;
    
    }
    .clinicas {
        justify-content: left;
        width: 30%;
        height: 27%;
        margin-left: 5%;
        background-size: 100%;
    }
    .clinicas:hover {
        width: 32%;
        height: 29%;
    }
    .decricao-clinicas {
        display: inline-block;
    }
    .descricao-clinica {
        justify-content: right;
        
        text-align: justify;
        padding: 30px;
        font-size: 20px;
    }
}

 Fazendo isso ainda */

/* Animações */

@keyframes header-aparece {
    0% {
        margin-top: -20%;
    }

    100% {
        margin-top: -0.5rem;
    }
}

@keyframes título-aparece {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes caixa-de-conteudo-aparece {
    0% {
        opacity: 0%;
    }

    75% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}