/* Clínicas Veterinárias */

body {
    background-color: #FFFFFF;
}

/* Fundo da página */

#fundo {

    /* Dentro de url coloque o caminho para a imagem de fundo, img/<nome-da-imagem> */

    background-image: url(../img/veterinario.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Componentes do header */

#logo {
    display: inline-block;
    padding-right: 20% !important;
}

.outras-paginas {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 2.5%;
    display: inline-block;

}

#CatNews {
    width: 100%;
    left: 10%;
    top: 3px;
}

.links {
    font-size: 25px;
    color: #000000;
    text-decoration: none;
}

/* Animação de cada texto naquele header */

.texto-header {
    --b: 0.1em;
    --c: #ffffff;

    color: #0000;
    padding-block: var(--b);
    background: linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%)) / 100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.3s var(--_s, 0s) linear,
        background-size 0.3s calc(0.3s - var(--_s, 0s));
}

.texto-header:hover {
    --_p: 100%;
    --_s: 0.3s;
}

/* Links para redes sociais*/

.icons {
    display: inline-block;
}

.fa-brands {
    width: 40px;
    font-size: 30px;
    color: #000000;
    transition: 0.2s ease-in-out;
}

.fa-brands:hover {
    width: 35px;
    font-size: 40px;
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

/* Fim do header */

/* Corpo da página*/

#caixa-de-conteudo {
    background-image: linear-gradient(to bottom, rgb(246, 246, 246), white);
    height: 90%;
    margin-top: 350px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#título {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 40px;
}

.clinicas-joao-pessoa {
    display: flex;
    flex-wrap: wrap;
}



.clinicas {
    width: 40%;
    height: 37%;
    border-radius: 20px;
    margin-left: 27.5%;
    background-size: 100%;
    background-position: center;
    padding: 20px;
    transition: 0.2s ease-in-out;
}

.texto-na-imagem {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    opacity: 0%;

    transition: 0.2s ease-in-out;
}

.clinicas:hover {
    opacity: 80%;
    width: 42%;
    height: 39%;
    box-shadow: rgba(0, 0, 0, 0.35) -5px 2px 20px;
    transition: 0.2s ease-in-out;
    
}

.clinicas:hover .texto-na-imagem {
    opacity: 100%;
    transition: 0.2s;
}

.descricao-clinicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.descricao-clinica {
    font-size: 20px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 50px;

}

/* Centro de Vigilância */

#centro-vigilancia {
    background-image: url(../img/centro-vigilancia.jpeg);
    background-repeat: no-repeat;
}
/* Clínica 4 patas */

#clinica-4patas {
    background-image: url(../img/clinica-4-patas.jpg);
    background-repeat: no-repeat;
}

/* Clínica e Farmácia Popular MED VET*/

#clinica-MED-VET {
    background-image: url(../img/clinica-farmacia-MED-VET.jpeg);
    background-repeat: no-repeat;
}

/* Clínica Veterinária PET AMIGO */

#clinica-PET-AMIGO {
    background-image: url(../img/pet-amigo.jpg);
    background-repeat: no-repeat;
}

/* PET SAÚDE Clínica Veterinária e Petshop */

#clinica-PET-SAUDE {
    background-image: url(../img/PET-SAÚDE.JPG);
    background-repeat: no-repeat;
}

/* ASSVET Centro Veterinário e Casa dos Cuidadores */

#ASSVET {
    background-image: url(../img/ASSVET.png);
    background-repeat: no-repeat;
}

/* Clínica Veterinária MAKTUB - CVM */

#MAKTUB {
    background-image: url(../img/maktub.jpeg);
    background-repeat: no-repeat;
}

/* NAV - Núcleo de Atendimento Veterinário */

#NAV {
    background-image: url(../img/NAV.jpg);
    background-repeat: no-repeat;
}

/* VIT VET Clínica Veterinária */

#VIT-VET {
    background-image: url(../img/VIT-VET.jpg);
    background-repeat: no-repeat;
}

/* CMV - Centro Médico Veterinário */

#CMV {
    background-image: url(../img/CMV.png);
    background-repeat: no-repeat;
}

/* Clínica Veterinária BOM PASTOR */

#BOM-PASTOR {
    background-image: url(../img/bom-pastor.png);
    background-repeat: no-repeat;
}

 
/*
@media screen and (min-width: 1400px) {
    .clinicas-joao-pessoa {
        display: flex;
        flex-wrap: wrap;
    
    }
    .clinicas {
        justify-content: left;
        width: 30%;
        height: 27%;
        margin-left: 5%;
        background-size: 100%;
    }
    .clinicas:hover {
        width: 32%;
        height: 29%;
    }
    .decricao-clinicas {
        display: inline-block;
    }
    .descricao-clinica {
        justify-content: right;
        
        text-align: justify;
        padding: 30px;
        font-size: 20px;
    }
}

 Fazendo isso ainda */